<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Liste des produits</title>
</head>
<body>

	<div>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>TITRE</th>
					<th>Prix</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produit: ${products}">
					<td th:text="${produit.id}" />
					<td th:text="${produit.titre}" />
					<td th:text="${produit.prix}" />
					<td><a th:href="@{'/deleteProduct/' + ${produit.id}}">Delete</a></td>
					<td><a th:href="@{'/editProduct/' + ${produit.id}}">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<br />
	<br /> Ajouter un nouveau produit
	<a href="ajoutProductForm">new Product</a>
</body>
</html>